.blueBox
{	width:90%; 
	border-style:solid; 
	border-width:2px; 
	padding-left:10px;
	padding-right:10px;
	padding-top:10px;
	padding-bottom:10px;
	background-color:#d5d9e5;
}

.alphaList
{
	font-size:12px;
	color:black;
	padding-left:5px;
	padding-right:5px;
	text-decoration:none;
	line-height:20px;
}

.alphaText
{
	color:red;
	font-size:15px;
}

.browse_text
{
	color:black;
	font-size:10px;
	padding_left:5px;
}

.collection-header {
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	background-color:#A7B8DC;
	border-style:solid; 
	border-width:2px; 
	padding-left:10px;
	padding-right:10px;
	padding-top:10px;
	padding-bottom:10px;
	width:90%; 
}

.support_text
{
	font-size: x-small; 
	color: #003399
}

li
{
	list-style-type: none;
	text-align: left;
}

div#toc
{
	background-color:#F0F0F0;
	border-style:solid; 
	border-width:1px; 
	padding-left:10px;
	padding-right:10px;
	padding-top:10px;
	padding-bottom:10px;

	float:left;
	width:179px;
	display:inline;
	font-size:12px;
	font-weight:500;
	text-align:left;
}
div#toc h1 { 
  text-align:center;
  margin-top:0px;
  font-size:115%;
  font-variant:small-caps;
}

div#toc div.titleproper { 
  text-align:center;
}


div#content
{
	float:left;
	padding-left:10px;	
	display:inline;
	width:68%
}


div#title {
  background-color:#A7B8DC;
  padding-left:10px;
  padding-right:10px;
  padding-top:10px;
  padding-bottom:10px;
  text-align:center;
  font-size:15px;
  font-weight:bold;
}

.content_subtitle {
  font-weight:normal;
}


div#publicationstmt { 
  text-align:center;
}

/* h3/h4 size must be set explicitly - over-riding more general font-size set elsewhere  */
div#publicationstmt h3 { 
  font-size:115%;
}
div#publicationstmt h4 { 
  font-size:110%;
}

.navbar
{
	font-size:12px;
	font-weight:500;
	text-align:left;
}

/* overrides a style from main marbl css; loses style in some cases if not set to important */
div#toc a { 
  text-decoration: underline !important;
}

.current { 
  background-color:#ffffff;
}



span.hits { color:red; padding-left:1em;font-weight:bold;}
span.match { color:red; font-weight:bold; }

.keywords
.breadCrumbs {
  font-family:arial;
  font-size:16px;
  color:#1c1e2d; 
  font-weight:bold;
}
div.breadCrumbs { 
  margin-bottom:10px;
}

.breadCrumbs a { 
  padding-right:5px;
}

a.match { text-decoration:none; }

table.searchform td.info { 
  padding-bottom:10px;
}

ul.searchtips li {
  list-style-type: disc;
}

div.searchinfo, div.searchinfo h2 { 
  font-size:115%;
}

/* make h2s bigger than h3s */
h2 { 
  font-size:115%;
}

h2 a, h3 a, a[name] { 
  text-decoration:none;
}
/* no line before text immediately after h3 heading */
h3, h4 { 
  margin-bottom:0px;
}
p.indent { 
  margin-top:0px;
}


h4.c02 { 
  margin-left:2em;
}
h4.c03 { 
  margin-left:4em;
}


div.resultlink { 
  text-align:right;
}

/* display links to additional results inline, with lines between */
li.resultlink { 
  display:inline; 
  padding-left: 7px;
  padding-right: 7px;
  border-left: 2px solid #666;
}
/* no left border on first result link */
li.first { 
  border-left: none;
}

th {
  text-align:left;  
  vertical-align:top;
}

td { 
  vertical-align:top;
}

p.tight { 
  margin:0px;
}