{% load humanize %}
<div>{{ files.paginator.count|intcomma }} files total</div>
{% with items=files base_url=request.path %}
  {% include "snippets/pagination.html" %}
{% endwith %}

 <table>
    <tr>
        <th colspan="3">Filename</th> {# spans columns for [publish,] preview, & prep #}
        <th>Last Modified</th>
        <th>Last Published</th>
    </tr>
{% for file in files.object_list %}
    <tr>
        <td>{{ file.filename }}</td>
        <td><a class="admin-action"
            href="{% url 'fa-admin:prep-ead-about' file.archive.slug file.filename %}">PREP</a></td>
        <td>
            {% if perms.fa_admin.can_preview %}
            <form action="{% url 'fa-admin:preview-ead' file.archive.slug %}" method="post">{% csrf_token %}
                <button type="submit" name="filename" value="{{ file.filename }}" class="admin-action">PREVIEW</button>
            </form>
            {% endif %}
        </td>
        <td>{{ file.modified|naturalday }}</td>
        <td>{{ file.published|naturalday|default:'' }}</td>
    </tr>
{% empty %}
  <tr><td colspan="2">No files found</td></tr>
{% endfor %}
</table>

{% with items=files base_url=request.path %}
    {% include "snippets/pagination.html" %}
{% endwith %}


  </div>
</div>

{# make links in this tab (e.g. pagination) load in the same tab #}
<script type="text/javascript">
  $(".ui-tabs-panel.ui-widget-content a").not('.admin-action').on('click', function(event) {
    event.preventDefault();
    $(this).closest('.ui-tabs-panel.ui-widget-content').load(this.href);
  });
</script>

