{% extends "genlib_templates/bluegray_site_base.xhtml" %}

{% block page-title %}EmoryFindingAids {% block page-subtitle %}{% endblock %}{% endblock %}

{% block style %}
    {{ block.super }}
    {% comment %}Place Local changes, modifications and overrisdes in your local.css file.{% endcomment %}
    <link rel="stylesheet" type="text/css" media="all" href="{{ MEDIA_URL }}/style/local.css" />
{% endblock %}

{% block site-name %}
<img src="{{ MEDIA_URL}}/images/EmoryFindingAids-logo.png" alt="EmoryFindingAids"/>
{% endblock %}

{% load eulcore_tags %}
{% block navbar %}   {# override the whole block - no 'HOME' #}
<ul>
    <li><a href="{% url fa:search %}">Advanced Search</a></li>
    <li><a href="">Requesting Materials</a></li>
    <li><a href="{% url content:page 'institutions' %}">Participating Institutions</a></li>
    <li><a href="{% url content:page 'search-tips' %}">Search Tips</a></li>
    <li><a href="{% url content:page 'faq' %}">{# FindingAid #}FAQ</a></li>
    <li><a href="{% url content:page 'about-database' %}">About the Database</a></li>
</ul>
{% endblock %}
{% block admin-url %}{% url fa-admin:index %}{% endblock %}

{% block sidebar-left %}
  {% if kwsearch_form %}
  <div id="search" class="sidebar-search">
      Search all Finding Aids
      <form action="{% url fa:search %}" method="get">
        {{kwsearch_form.keywords}}
        <input class="form-submit" type="submit" value="Search" />
      </form>
  </div>
  {% endif %}
{% endblock %}

{% block message %}
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|safe }}</li>
        {% endfor %}
    </ul>
    {% endif %}
{% endblock %}

{% block content-outer-bottom %}
  {% if SW_VERSION %}
    <div class="sw-version dev-note">v{{ SW_VERSION }}</div>
  {% endif %}
  {% if querytime and debug %}{# display eXist query times in debug mode only #}
    <div class="query-time dev-note">quer{{ querytime|pluralize:"y,ies" }} took
      {{ querytime|join:", " }} ms</div>
  {% endif %}
{% endblock %}

{% block scripts %}
  {{ block.super }}
{# Google Analytics tracking code #}
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-21014785-1']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
{% endblock %}