{% extends "genlib_templates/bluegray_site_base.xhtml" %}

{% block page-title %}EmoryFindingAids {% block page-subtitle %}{% endblock %}{% endblock %}

{% block style %}
    {{ block.super }}
    {% comment %}Place Local changes, modifications and overrisdes in your local.css file.{% endcomment %}
    <link rel="stylesheet" type="text/css" media="all" href="{{ MEDIA_URL }}/style/local.css" />
{% endblock %}

{% block site-name %}
<img src="{{ MEDIA_URL}}/images/EmoryFindingAids-logo.png" alt="EmoryFindingAids"/>
{% endblock %}

{% block navbar %}   {# override the whole block #}
    <a class="first" href="{% url site-index %}">Home</a>
    <a href="{% url fa:search %}">Advanced Search</a>
    <a href="{% url content:request-materials %}">Request Materials</a>
    <a href="{% url content:page 'institutions' %}">Contributors</a>
    <a href="{% url content:page 'search-tips' %}">Search Tips</a>
    <a href="{% url content:page 'faq' %}">FindingAid FAQ</a>
    <a class="last" href="{% url content:feedback %}">Feedback</a>
   {# <a href="{% url content:page 'about-database' %}">About the Database</a>  #}
{% endblock %}
{% block admin-url %}{% url fa-admin:index %}{% endblock %}

{% block sidebar-left %}
  {% if kwsearch_form %}
  <div id="search" class="sidebar-search">
      Search EmoryFindingAids
      <form action="{% url fa:search %}" method="get">
        {{kwsearch_form.keywords}}
        <input class="form-submit" type="submit" value="Search" />
      </form>
  </div>
  {% endif %}
{% endblock %}

{% block message %}
    {% if messages %}
    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message|safe }}</li>
        {% endfor %}
    </ul>
    {% endif %}
{% endblock %}

{% block content-outer-bottom %}
  {% if SW_VERSION %}
    <div class="sw-version dev-note">v{{ SW_VERSION }}</div>
  {% endif %}
  {% if querytime and debug %}{# display eXist query times in debug mode only #}
    <div class="query-time dev-note">quer{{ querytime|pluralize:"y,ies" }} took
      {{ querytime|join:", " }} ms</div>
  {% endif %}
{% endblock %}

{% block scripts %}
  {{ block.super }}
<script type="text/javascript">
    $(document).ready(function() {
        $('input.form-submit').each(function() { // {# append arrows to inputs (can't use CSS :after) #}
             $(this).attr('value', $(this).attr('value') + '  ▶');
        });
    });
</script>
<script type="text/javascript"> // {# Google Analytics tracking code #}
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-21014785-1']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
{% endblock %}