{# list view of a single finding aid - expects FindingAid object as fa, with list fields #}
{% load ead %}
<div class="record_list">
    {% if fa.fulltext_score %}
      <div class="relevance">
	<div class="score" style="width:{% widthratio fa.fulltext_score  1 100 %}px">&nbsp;</div>
        {% if debug %}{{ fa.fulltext_score }}{% endif %}{# display numerical score in debug mode #}
      </div>	
    {% endif %}
    <p><a href="{% url fa:findingaid fa.eadid %}{% if url_params %}?{{ url_params }}{% endif %}" class="fa-search_result">{{ fa.list_title|format_ead }}</a> </p>
    {# only show unittitle if different from list title; usings slugs to ignore whitespace differences #}
    {% ifnotequal fa.unittitle|slugify fa.list_title|slugify %}
        <p class="indent">{{ fa.unittitle|format_ead }}</p>
    {% endifnotequal %}
    <p class="indent">{{ fa.physical_desc }}</p>
    <p class="abstract indent">{{ fa.abstract|format_ead }}</p>
    <p class="indent">Repository: {{ fa.repository }}</p>
</div>
