{# list view of a single finding aid - expects FindingAid object as fa, with list fields #}
{% load ead %}
<div class="list-record">
    {% if fa.fulltext_score %}
      <div class="relevance">
	<div class="score" style="width:{% widthratio fa.fulltext_score  1 100 %}px">&nbsp;</div>
        {% if debug %}{{ fa.fulltext_score }}{% endif %}{# display numerical score in debug mode #}
      </div>	
    {% endif %}
    <p><a href="{% url fa:findingaid fa.eadid %}{% if highlight_params %}?{{ highlight_params }}{% endif %}" class="fa-search_result">{{ fa.list_title|format_ead }}</a> </p>
    <div class="record">
    	{# only show unittitle if different from list title; usings slugs to ignore whitespace differences #}
    	{% ifnotequal fa.unittitle|slugify fa.list_title|slugify %}
        <p>{{ fa.unittitle|format_ead }}</p>
    	{% endifnotequal %}
    	<p>{{ fa.physical_descriptions|join:'; ' }}</p>
    	<p class="abstract">{{ fa.abstract|format_ead }}</p>
    	<p>Repository: {{ fa.repository|join:'/' }}</p>
    </div>
</div>
