{% extends "fa_admin/base.html" %}
{% block page-subtitle %}{{block.super}} : Users {% endblock %}
{% block content-title %}Current users{% endblock %}

{% block content-body %}
    <table>     {# FIXME: use css throughout #}
        <tr>
            <th>First Name</th>
            <th>Lastname</th>
            <th>User</th>
            <th>Account</th>
            <th>Groups</th>
            <th>Site Admin</th>
            <th/>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{ user.first_name }}</td>
            <td>{{ user.last_name }}</td>
            <td>{{ user.username }}</td>            
            <td>{% if user.password == "!" %}LDAP{% else %}Local{% endif %}</td> {# FIXME: better way to do this? #}
            <td>{% for g in user.groups.all %}{{g}}{% if not forloop.last %},{% endif %} {% endfor %}</td>
            <td>
              {% if user.is_superuser %}
                <img src="{{ MEDIA_URL }}/admin/true.gif" alt="Yes" style="border:0px solid" />
              {% else %}
                <img src="{{ MEDIA_URL }}/admin/false.gif" alt="No" style="border:0px solid" />
            {% endif %}
            </td>
            <td>
                <a href="{% url fa-admin:edit-user user.id %}" style="text-decoration:none">
                <img src="{{ MEDIA_URL }}/admin/edit.gif" alt="" style="border:0px" />edit</a>
            </td>
        </tr>
    {% endfor %}
    </table>
    <hr/>
{% endblock %}