{# list recently modified source EAD files #}

<h2>Recently modified files</h2>

{% if error %}<p class="error">Error: {{ error }}</p>{% endif %}

<form action="{% url admin:publish-ead %}" method="post">
<table>
    <tr>
        <th colspan="2">Filename</th> {# also spans column for publish button #}
        <th>Last Modified</th>
    </tr>
{% for file, mtime in files %}
    <tr>
        <td>{{ file }}</td>
        <td><button type="submit" name="filename" value="{{ file }}" >PUBLISH</button></td>
        <td>{{ mtime|date}} ({{ mtime|timesince }} ago)</td>
    </tr>
{% empty %}
  <tr><td colspan="2">No files found</td></tr>
{% endfor %}
</table>
</form>