{% extends "site_base.html" %}
{% block page-subtitle %}: Administration Page {% endblock %}
{% block content-title %}Administer Finding Aids{% endblock %}

{% block content-body %}
  {% if user.is_authenticated %}
        <div id="print-links">
      <a href="/admin/logout">logout</a>
   </div>
    <div>
      <p>Welcome, <strong>{{ user.first_name|default:"Admin" }} {{ user.last_name|default:"" }}</strong>. You are now logged into the Finding Aids site.</p>
    </div>  
  
  {% endif %}
  <hr/>
  {% include "admin/_list_files.html" %}


{% endblock %}