h1, h2, h3 {
    font-family: "Trebuchet MS",Verdana,Arial,Helvetica,sans-serif;
    color: #666666;
}
h1 {
    font-size: 2em;
    line-height: 1.5em;
    font-variant: small-caps;
    font-weight: normal;
}
h2 {
    line-height: 1.25em;
    font-size: 1.8em;
    font-variant: small-caps;
    font-weight: normal;
}
h2 a, h2 a:hover {  /* h2 with a non-link a tag should look like a normal h2 */
    color: #4c4c4c;
}
h3, #descriptive_summary th {
    color: #4c4c4c;
    font-weight: bold;
    font-size: 1.25em;
}
h1.toplevel { /* similar to h2 on home page */
    border-bottom: 3px solid #F19B62;
    margin-bottom:20px;
    color: #666666;
    font-weight: normal;
    padding: 0px;
    width: 50%;
}

/* only links (not anchors) should have a hover/focus highlight color */
#main a:hover, #main a:active, #main a:focus {
    color: #3e6280;
}
#main a:link:hover, #main a:link:active, #main a:link:focus {
    color: #f19b62;
}
#main a:link:hover, #main a:active, #main a:focus {   /* make *linked* a tags colored on hover/focus */
    color: #f19b62 !important;
}
#navbar #primary a:hover, #navbar #primary a:active, #navbar #primary a:focus {
    color: white !important;
}

div#alphalist {
  width: 350px;
  height: 75px;
  margin:5px;
  list-style-type: none;
}

div#alphalist li {
  margin: 0px 4px 4px 0px !important;
  padding: 0px;
  text-indent: 0px;
  display:block;
  float:left;
  text-align: center;
  line-height:22px;
  background: none;
}

div#alphalist a {
  border:1px solid black;
  font-weight:bold;
  color:white;
  width:22px;
  height:20px;
  display:block;
  text-decoration:none;
  line-height:22px;
  background-color:  #3a3a3a;
}

#main div#alphalist a:hover, #main div#alphalist a.current {
  background-color: #f19b62;
  color: white !important;
}

.list-record {
   border-bottom: 1px dashed #cccccc;
   padding-bottom: 10px;
   margin-bottom: 10px;
}
.list-record p {
    margin: 0px;
}
.list-record a:link {
    color: #3e80b2;
}
p.query-time {
    font-style:italic;
}
.fa-title {
    text-align: center;
    margin: auto;
    text-transform: none;
}
.fa-title a {
 text-decoration: none;
}
.list-record a {
    color: #3E80B2;
    display: block;
    font: 1.33333em/1em "Trebuchet MS",Verdana,Arial,Helvetica,sans-serif;
    padding: 0px 0px 5px;
    text-decoration: none;
    text-transform: uppercase;
}

.record {
    padding-left: 30px;
}

p.indent { padding-left: 25px; }
div#publication-address {
    margin: 0px auto 10px;
    text-align: center;
    font-size:115%;
}
div#publication-address p {
    margin:0px;
}
div#toc_series {
    clear: right;
    border: 1px solid #D9D9D9;
    background-color: #f2f3f5;
    margin: 0px 0px 10px;
    padding: 20px;
    padding-bottom: 0px;
}
div#toc_series.short-toc {
    padding: 5px;
    height: 2.5em;
}

div#toc {
    float: left;
    width: 230px;
    margin-right:20px;
}
div#series {
    float:left;
    width:400px;
}

div.hover-menu h2:before {
    content: "+ ";
}
div.hover-menu h2 {
    margin: 0px;
    padding: 0px;
    padding-left: 15px;
}
div.hover-menu.collapsed ul {
    display:none;
}
div.hover-menu ul {
    position:absolute;
    background-color: #f2f3f5;
    padding-right: 15px;
}

.clear {
    clear:both;
}
.clear-right {
    clear: right;
}
th, td {
    text-align: left;
    vertical-align: top;
}

table#descriptive_summary th {
    padding-right:5px;
    width:150px;
}
div.fa li {
   list-style-type:none;
   background: none !important;
}

.fa h3 {
    padding: 0px;   /* override 8px top-padding from html-elements.css */
}
.fa table, table#descriptive_summary td {
    border: none;
    margin: 0px;
}

div#control_access ul, div#control_access li, div#index ul, div#index li {
    margin: 0px !important;
    padding: 0px !important;
    list-style-image: none !important;
}
div#control_access h3 {
    margin-top: 5px;
    margin-bottom: 0px;
}

table.box-folder .bf {
    width: 50px;
}

table.box-folder th {
    font-size: 90%;
}

table.box-folder .section {
  font-weight: bold;
}
/* description of series; !important required to override settings in libraryglobal.css */
ul.series-list > li {
    padding-left: 0px !important;   /* no indent on top-level series */
}
/* remove top-padding on subseries lists so list-item spacing will be consistently */
ul.series-list ul {
    padding-top: 0px !important;
}
/* shift padding to the top so nested list items will be consistently spaced */
ul.series-list  li {
    padding-bottom: 0px !important;
    padding-top: 10px !important;
}

table.box-folder tr.series-link th {
    font-size: 1.3em !important;
    line-height: 1.3em !important;
}

div#sidebar-left-inner > div, .announcement {
    border: 1px solid #D9D9D9;
    background-color: #f2f3f5;
    padding: 5px;
    margin-bottom: 10px;
}
div.sidebar-search input {
    margin: 2px;
}

form#advanced-search input[type="text"], form#advanced-search select {
   width: 42em;
   padding: 3px 0px; /* no side-padding (makes input longer than select) */
}

form .help-text {
    font-size: 85%;
}

div.doc-links {
    border: none !important;
    background-color: #ffffff !important;
}
div.doc-links a {
    text-decoration: none;
}
div.doc-links p {
    margin:0px;
}

a#no-decoration {
    text-decoration: none;
}

.ead-bold {
    font-weight: bold;
}
.ead-italic {
    font-style: italic;
}
.ead-title {
    font-style: italic;
}

.exist-match {  /* search-term highlighting */
   color: red;
}

.dev-note {
  color: #aaa;
}
.sw-version {
  float: right;
}

.relevance {
     float: right;
     margin-top: 5px;
     border: 1px solid #0a2944;
     width: 2cm;
     height: 8px;
     background-color: #eeeeee;
}
#relevance-label {
     float: right;
     width: 2cm;
}

.score {
     max-width: 2cm;
	 background-color: #2f6390;
	 height: 8px;
}

ul.messages {
    list-style-type: none;
    border: 1px solid black;
    background-color: #efefef;
    margin-bottom: 10px;
}
ul.messages li {
    background: none !important;
    padding-left: 10px !important;
}
/* todo: message styles by tag (success, error, etc) */

/* styles for cleaned xml diff display */
div.diff p {
    margin: 0px 0px 2px 0px;
    white-space:pre;
}
p.removed { background-color: #ffdddd; }
p.added { background-color: #ddffdd; }

body.preview div#main { background: url('../images/preview.png') repeat scroll 0 0}
span.preview-label { color: red; }
form#preview-publish { float: right; }

div.section {
    border-top: 3px solid #D9D9D9;
}
/* styles for deleted ead */
div.removed-notice {
    margin:10px 60px;
    padding: 15px;
    width: 500px;
    border: 5px double black;
    font-size: 150%;
    line-height:22px;
    background-color: #f2f3f5;
}
/* style all admin actions (whether links or buttons) the same way */
.admin-action {
    border:1px solid #D9D9D9;
    padding:5px;
    margin:0px;
    display:inline-block;
    font-size:11pt;
    line-height: 15pt;
    text-decoration: none !important;
    color: black !important;
    background-color: #f2f3f5;
}

div.pagination a {
    padding-right: 2px;
}

a.pdf {
    line-height: 20px;
}

hr {
    background-color: #f19b62;
    border: 1px solid #f19b62;
}


/* feedback & request materials forms */
.email-form  .required {
    color: red;
    font-weight: bold;
}
.email-form ul, .email-form li {
    padding: 0px !important;
}

.email-form label {
    display: block;
    margin-top: 12px;
}
.email-form input[type='text'], .email-form textarea {
    width: 85%;
    padding: 2px;
}
.email-form li {
    background: none !important;
}
.email-form ul.errorlist {
    margin-bottom: 15px !important;
}
.email-form div#Repository_block {
    margin-bottom: 30px;
}
.email-form div#Repository_block ul {
    margin-top: 10px;
}



/*This section  was copied from libraryglobals.css and adapted to work with anchors*/
a.form-submit, input.form-submit {
    /*background:url("images/btn-sprite.gif") repeat-x scroll right -1px #02266D;*/
    background: #02266D;
    border-top: 1px solid #2d5799;
    border-left: 1px solid #2d5799;
    border-bottom:1px solid #002878;
    border-right:1px solid #002878;
    color:#E6EDF2;
    cursor:pointer;
    font:0.833333em "Trebuchet MS",Arial,Helvetica,sans-serif;
    height:20px;
    vertical-align: middle;
    margin:0;
    padding:3px 5px 3px 10px;
    text-transform:uppercase;
    text-decoration:none;
}
a.form-submit {
    padding-left: 12px;
}
a.form-submit:after { /* using jQuery for equivalent on inputs */
    content: "  ▶";
    padding-left: 5px;
    line-height: 18px;
}

#main a.form-submit:hover, #main input.form-submit:hover {
    background-color:#f19b62;
    border-top:1px solid #edbd9d;
    border-left:1px solid #edbd9d;
    border-bottom:1px solid #f19557;
    border-right:1px solid #f19557;
    color:#FFFFFF !important;
}
#sidebar-right {
    text-align: right;
}
a.icon-printable, a.printable { background:url(images/icon-print.gif) no-repeat 0 0;
                                padding:0px 0px 6px 20px;
                                display:inline-block; }

.block-links {
    padding-top: 8px;
}
.block-links a {
    text-decoration: none;
    text-transform: uppercase;
    color: #3F81B1;
    background: url('../images/arrow-orange-right_MARBL.gif') no-repeat scroll 17px 3px transparent;
    padding: 0px 0px 16px 30px;
    line-height: 1.333em;
}

#content ul li {
    background: none;
    list-style-image: url('../images/arrow-orange-right_MARBL.gif');
    padding: 0px;
    margin-left: 25px;
    margin-bottom: 10px;
}

/* suppress bullet on form error messages */
#content ul.errorlist li {
    background: none;
    list-style-image: none;
    padding: 0px;
    margin-left: 25px;
}

#content .email-form span.errors li {
    margin-bottom: 30px;
}

#content form.email-form div#Repository_block {
    margin-bottom: 30px;
}

#feedback p {
    margin: 0px 0px 5px;
}
.clearfix {
    clear: both;
}

#digital-materials {
  background-color: #002878;
  color: white;
  width: 5in;
  height: 0.35in;
  text-align: center;
  vertical-align: middle;
  margin: auto;
}
#digital-materials img {
    float: left;
    padding-left: 15px;
    padding-top: 5px;
    border: 0;
}
#digital-materials p {
    font-size: 12pt;
    line-height: 0.25in;
    margin: 5px 0 0;
    padding-top: 5px;
}
#digital-materials p.detail {
    font-size: 10pt;
    padding-top: 2px;
}

.search-tips blockquote {
  margin: 0;
  padding: 10px 0 0;
  color:#4c4c4c;
}
.search-tips li {
  margin: 0;
}

/* hacky jquery ui overrides to compensate for over-specific genlib theme css*/
#content .ui-tabs ul {
  padding: 2px 0 0 1px;
  margin-bottom: 0 !important;
  border-bottom: 0 !important;
  overflow: hidden;
}

#content .ui-tabs li {
  list-style: none;
  margin: 0 1px;
  padding: 0 2px;
}
#content .ui-tabs li.ui-tabs-active {
  margin-bottom: 0;
  padding-bottom: 1px;
  border-bottom: 0 !important;
}


#content .ui-tabs-panel {
  border: 0 !important;
}
