.blueBox
{	width:90%; 
	border-style:solid; 
	border-width:2px; 
	padding-left:10px;
	padding-right:10px;
	padding-top:10px;
	padding-bottom:10px;
	background-color:#d5d9e5;
}

.alphaList
{
	font-size:12px;
	color:black;
	padding-left:5px;
	padding-right:5px;
	text-decoration:none;
	line-height:20px;
}

.alphaText
{
	color:red;
	font-size:15px;
}

.browse_text
{
	color:black;
	font-size:10px;
	padding_left:5px;
}

.collection-header {
	font-family: Arial, Helvetica, sans-serif;
	font-size: small;
	background-color:#A7B8DC;
	border-style:solid; 
	border-width:2px; 
	padding-left:10px;
	padding-right:10px;
	padding-top:10px;
	padding-bottom:10px;
	width:90%; 
}
