{# list recently modified source EAD files #}

<div class="section">

<h2>Recently modified files</h2>

{% if error %}<p class="error">Error: {{ error }}</p>{% endif %}

<div>{{ files.paginator.count }} files total</div>
{% with files as items %}
    {% include "snippets/page_navigator.html" %}
{% endwith %}
<table>
    <tr>
        <th colspan="4">Filename</th> {# spans columns for publish, preview, & clean #}
        <th>Last Modified</th>
    </tr>
{% for file, mtime in files.object_list %}
    <tr>
        <td>{{ file }}</td>
        <td><a href="{% url fa-admin:cleaned-ead-about file %}">CLEAN</a></td>
        <td>
            {% if perms.fa_admin.can_preview %}
            <form action="{% url fa-admin:preview-ead %}" method="post">{% csrf_token %}
                <button type="submit" name="filename" value="{{ file }}" >PREVIEW</button>
            </form>
            {% endif %}
        </td>
        <td>
            {% if perms.fa_admin.can_publish %}
            <form action="{% url fa-admin:publish-ead %}" method="post">{% csrf_token %}
                <button type="submit" name="filename" value="{{ file }}" >PUBLISH</button>
            </form>
            {% endif %}
        </td>
        <td>{{ mtime|date}} ({{ mtime|timesince }} ago)</td>
    </tr>
{% empty %}
  <tr><td colspan="2">No files found</td></tr>
{% endfor %}
</table>

{% with files as items %}
    {% include "snippets/page_navigator.html" %}
{% endwith %}

</div>