{% extends "fa_admin/base.html" %}
{% block page-subtitle %}: Edit User Account {% endblock %}
{% block content-title %}Edit User Account{% endblock %}

{% block content-body %}
<p>Edit the user account details below.</p>


   {% if form.errors %}
    <div id="form-error">
	<p>The operation could not be performed because one or more error(s) occurred.<br />
            Please resubmit the form after making the following changes:</p>
    </div>
    {% endif %}
    <div>

      <form action="{% url fa-admin:edit-user user_id  %}" method="post">{% csrf_token %}
        <table>
          {{ form.as_table }}
        </table>
        <input type="submit" value="Submit" />
      </form>
    </div>  

{% endblock %}