{% extends "site_base.html" %}
{% block page-subtitle %}: Administration Page {% endblock %}
{% block content-title %}Account Management{% endblock %}

{% block content-body %}

  {% if user.is_authenticated %}
        <div id="print-links">
      <a href="{% url fa-admin:logout %}">logout</a>
   </div>
   {% if form.errors %}
    <div id="form-error">
	<p>The operation could not be performed because one or more error(s) occurred.<br />
            Please resubmit the form after making the following changes:</p>
    </div>
    {% endif %}
    <div>
      <p>Please edit the user settings...</p>
      <form action="{% url fa-admin:edit-user user_id  %}" method="post">{% csrf_token %}
        <table>
          {{ form.as_table }}
        </table>
        <input type="submit" value="Submit" />
      </form>
    </div>  
  
  {% endif %}
  <hr/>
  


{% endblock %}