{% extends "site_base.html" %}
{% block page-subtitle %}: Admin : Cleaned EAD for {{ filename }}{% endblock %}
{% block content-title %}Cleaned EAD for {{ filename }}{% endblock %}

{% block content-body %}

{% if errors %}
<p>Cleaned file does not pass checks required for publication!</p>
<ul>
{% for err in errors %}
    <li>{{err}}</li>
{% empty %}
    <li>Sanity-check found no errors</li>
{% endfor %}
</ul>
{% endif %}

{% if xml_status == 200 %} {# only display diffs / download if cleaned xml can be generated #}
<p><a href="{% url fa-admin:cleaned-ead-diff filename %}" target="_blank">View file differences line by line.</a></p>

<div class="diff">
{% for c in changes %}        
  <p {% if c|first == "-" %}class="removed"{% endif %}{% if c|first == "+" %}class="added"{% endif %}>{{ c }}</p>  
{% endfor %}
</div>

<hr/> {# provide a link to cleaned xml after differences have been reviewed #}
<p>Download the <a href="{% url fa-admin:cleaned-ead filename %}">cleaned version of {{ filename }}</a>.</p>

{% else %}

<p>There was an error loading the file you selected for cleaning; most likely,
this indicates that the document contains invalid XML.  Please check the file in
an XML editor and try again.</p>

{% endif %}

{% endblock %}