{% extends "site_base.html" %}

{% block page-subtitle %}: Delete Confirmation {% endblock %}

{% block content-title %} Please confirm the deletion {% endblock %}

{% block content-body %}

{% if form.eadid %}
    <form action = "{% url fa-admin:delete-ead fa.eadid %}" method="post">{% csrf_token %}
        <table>
            {{form.as_table}}
        </table>
        <button type="submit" >CONFIRM</button><br/>
        </form>
{% else %}
    <tr><td colspan="2">No files found</td></tr>
{% endif %}




{% endblock %}

