{% extends "site_base.html" %}

{% block page-subtitle %}: Delete Confirmation {% endblock %}

{% block content-title %} Please confirm the deletion {% endblock %}

{% block content-body %}

{% if form.eadid %}
    <form action = "{% url fa-admin:delete-ead fa.eadid %}" method="post">{% csrf_token %}
        <div class="fieldWrapper">
            <b>EAD ID: </b> {{form.eadid}}
        </div>
        <div class="fieldWrapper">
            <b>Title: </b>{{form.title}}
        </div>
        <div class="fieldWrapper">
            <b>Comments (Optional):</b><br/>{{form.comments}}
        </div>
        <button type="submit" >CONFIRM</button><br/>
        </form>
{% else %}
    <tr><td colspan="2">No files found</td></tr>
{% endif %}


{% endblock %}

