{% extends "site_base.html" %}
{% block page-subtitle %}: Administration Page {% endblock %}
{% block content-title %}Administer Finding Aids{% endblock %}

{% block content-body %}
  {% if user.is_authenticated %}
  <div id="print-links">
    <a href="{% url fa-admin:logout %}">logout</a>
  </div>
  <div>
    <p>You are logged in as, <strong>{{ user.first_name|default:"Admin" }} {{ user.last_name|default:"" }}</strong></p>
  </div>
  <hr/>
  {% endif %}
  {% if user.is_superuser %}
  <div id="record_list">
      <h2>Account Management</h2>
      <p>You can manage accounts <a id="no-decoration" href="{% url fa-admin:list-staff %}">here.</a></p>
  </div>
  {% endif %}

<h2>Manage documents</h2>
<ul>
  <li><a href="">published documents</a></li>
  <li><a href="{% url fa-admin:preview-ead %}">Documents available for preview</a></li>
</ul>
<hr/>
  {% include "fa_admin/_list_files.html" %}

{% endblock %}