{% extends "site_base.html" %}
{% block page-subtitle %}: Administration Page {% endblock %}
{% block content-title %}Administer Finding Aids{% endblock %}

{% block content-body %}
  {% if user.is_authenticated %}
  <div id="print-links">
    <a href="{% url fa-admin:logout %}">logout</a>
  </div>
  <div>
    <p>You are logged in as, <strong>{{ user.first_name|default:"Admin" }} {{ user.last_name|default:"" }}</strong></p>
  </div>
  <hr/>
  {% endif %}
  <div id="record_list">
      <h2>Manage user accounts</h2>
      {% if user.is_superuser %}
          <ul>
            <li> <a href="{% url fa-admin:list-staff %}">Manage user accounts</a></li>
          </ul>
     {% else %}
      <p>
         Your user account may not have the correct permissions you require to do your work.
         If this is your first time logging into the finding aids site your user account needs
         to have permissions assigned, to do this please contact either a staff member who has
         an administration account or email systems at 78888@emory.edu.
      </p>
     {% endif %}
  </div>
  <hr/>
  <h2>Manage documents</h2>
    <ul>
      <li><a href="">published documents</a></li>
      <li><a href="{% url fa-admin:preview-ead %}">Documents available for preview</a></li>
  </ul>
  <hr/>
  {% include "fa_admin/_list_files.html" %}
{% endblock %}