{% extends "site_base.html" %}
{% block page-subtitle %}: Admin : {{ mode|title }} Errors {% endblock %}
{% block content-title %}{{ mode|title }}{% endblock %}

{% block content-body %}

<p>Could not {{ mode }} <b>{{ filename }}</b> due to the following:</p>

<ul>
{% for err in errors %}
    <li>{{ err }}</li>
{% endfor %}
</ul>

<hr/>
<h2>Additional instructions</h2>
<ul>
    <li>If the document is not well-formed XML, nothing else can be checked.  Please
    fix the file in your XML editor and try loading it again.</li>
    <li>If the document is not valid according to the EAD DTD, only the first
    validation error will be displayed here. You may want to validate the file
    in your XML editor before loading again.</li>
</ul>

{% endblock %}