{% extends "site_base.html" %}

{% block page-subtitle %}: Published {% endblock %}

{% block content-title %} Published Finding Aids {% endblock %}

{% block content-body %}

<div>Total Number: {{findingaids.paginator.count}} </div>

{% with findingaids as items %}
    {% include "snippets/page_navigator.html" %}
{% endwith %}

<table>
    <tr>
        <th colspan="2">Filename</th> {# spans columns for delete button #}
        <th>Last Modified</th>
    </tr>
{% for fa in findingaids.object_list %}
    <tr>
        <td><a href ="{% url fa:view-fa fa.eadid %}">{{ fa.eadid }}</a></td>
        <td>
                <a href ="{% url fa-admin:delete-ead fa.eadid %}"> DELETE </a>
        </td>
        <td>{{ fa.last_modified|date}} ({{ fa.last_modified|timesince }} ago)</td>
    </tr>
{% empty %}
  <tr><td colspan="2">No files found</td></tr>
{% endfor %}
</table>

{% with findingaids as items %}
    {% include "snippets/page_navigator.html" %}
{% endwith %}
{% endblock %}

