div#alphalist {
  width: 350px;
  height: 75px;
  margin:5px;
  list-style-type: none;
}

div#alphalist li {
  margin: 0px 4px 4px 0px;
  padding: 0px;
  text-indent: 0px;
  display:block;
  float:left;
  text-align: center;
  line-height:22px;  
  background: none;
}

div#alphalist a {
  border:1px solid black;  
  font-weight:bold;
  color:white;
  width:22px;
  height:20px;
  display:block;
  text-decoration:none;
  line-height:22px;
  background-color: #02266d; /*#3a3a3a; */ /* FIXME: was using small gradient bg image */
}

div#alphalist a:hover, div#alphalist a.current {
  background-color: #b98b02; /*#f19b62;*/
}

div.record_list {
   border-bottom: 2px dashed gray;
   padding-bottom: 10px;
   margin-bottom: 10px;
}
div.record_list p {
    margin: 0px;
}

p.query-time {
    font-style:italic;
}

div#toc_series {
    clear: right;
    border: 1px solid #D9D9D9;
    background-color: #f2f3f5;
    margin: 0px 0px 30px;
    padding: 20px;
}

div#toc {
    float: left;
    width: 230px;
    margin-right:20px;
}
div#series {
    float:left;
    width:400px;
}

.clear {
    clear:both;
}
th, td {
    text-align: left;
    vertical-align: top;
}

table#descriptive_summary th {
    padding-right:5px;
    width:150px;
}
div.fa li {
   list-style-type:none;
   background: none !important;
}

div#control_access ul, div#control_access li, div#index ul, div#index li { 
    margin: 0px;
    padding: 0px;
}
div#control_access h3 {
    margin-top: 5px;
    margin-bottom: 0px;
}

table.box-folder .bf {
    width: 50px;
}

table.box-folder .section {
  font-weight: bold;
}

table.box-folder tr.series-link th {
    font-size: 1.3em !important;
    line-height: 1.3em !important;
}

div#sidebar-left-inner div {
    border: 1px solid #D9D9D9;
    background-color: #f2f3f5;
    padding: 5px;
    margin-bottom: 10px;
}
div.sidebar-search input {
    margin: 2px;
}

div#print-links {
    float:right;
}

div#print-links a {
    text-decoration: none;
}

a#no-decoration {
    text-decoration: none;
}

.ead-bold {
    font-weight: bold;
}
.ead-italic {
    font-style: italic;
}
.ead-title {
    font-style: italic;
}

.exist-match {  /* search-term highlighting */
   color: red;
}

.dev-note {
  color: #aaa;
}
.sw-version {
  float: right;
}

.relevance {
     float: right;
     margin-top: 5px;
     border: 1px solid #0a2944;
     width: 2cm;
     height: 8px;
     background-color: #eeeeee;
}

.score {
     max-width: 2cm;
	 background-color: #2f6390;
	 height: 8px;
}

ul.messages {
    list-style-type: none;
    border: 1px solid black;
    background-color: #efefef;
    margin-bottom: 10px;
}
ul.messages li {
    background: none !important;
    padding-left: 10px !important;
}
/* todo: message styles by tag (success, error, etc) */

/* styles for cleaned xml diff display */
div.diff p {
    margin: 0px 0px 2px 0px;
    white-space:pre;
}
p.removed { background-color: #ffdddd; }
p.added { background-color: #ddffdd; }

body.preview div#main { background: url('../images/preview.png') repeat scroll 0 0}
span.preview-label { color: red; }
form#preview-publish { float: right; }

div.section {
    border-top: 3px solid #D9D9D9;
}

div#task-results li {list-style-type: circle; margin-left:15px; }
div#task-results li.success { list-style-image: url('../images/check.png'); }
div#task-results li.failure { list-style-image: url('../images/x.png'); }

div#task-results li.success span.code { color: green }
div#task-results li.failure span.code { color: red }
div#task-results div.task_end { border:0px; padding: 0px; margin:0px; font-size: 80%; }

/* styles for deleted ead */
div.removed-notice {
    margin:10px 60px;
    padding: 15px;
    width: 500px;
    border: 5px double black;
    font-size: 150%;
    line-height:22px;
    background-color: #f2f3f5;
}
/* style all admin actions (whether links or buttons) the same way */
.admin-action {
    border:1px solid #D9D9D9;
    padding:5px;
    margin:0px;
    display:inline-block;
    font-size:11pt;
    line-height: 15pt;
    text-decoration: none !important;
    color: black !important;
    background-color: #f2f3f5;
}

div.pagination a {
    padding-right: 2px; 
}
