div#alphalist {
  width: 350px;
  height: 75px;
  margin:5px;
  list-style-type: none;
}

div#alphalist li {
  margin: 0px 4px 4px 0px;
  padding: 0px;
  text-indent: 0px;
  display:block;
  float:left;
  text-align: center;
  line-height:22px;  
  background: none;
}

div#alphalist a {
  border:1px solid black;  
  font-weight:bold;
  color:white;
  width:22px;
  height:20px;
  display:block;
  text-decoration:none;
  line-height:22px;
  background-color: #02266d; /*#3a3a3a; */ /* FIXME: was using small gradient bg image */
}

div#alphalist a:hover, div#alphalist a.current {
  background-color: #b98b02; /*#f19b62;*/
}

div.record_list {
   border-bottom: 2px dashed gray;
   padding-bottom: 10px;
   margin-bottom: 10px;
}
div.record_list p {
    margin: 0px;
}

p.query-time {
    font-style:italic;
}

div#toc_series {
    border: 1px solid #D9D9D9;
    background-color: #f2f3f5;
    margin: 0px 0px 30px;
    padding: 20px;
}

div#toc {
    float: left;
    width: 230px;
    margin-right:20px;
}
div#series {
    float:left;
    width:400px;
}

.clear {
    clear:both;
}

div#keyword-search {
    border: 1px solid #D9D9D9;
    background-color: #f2f3f5;
    padding:10px;
}

.ead-bold {
    font-weight: bold;
}
.ead-italic {
    font-style: italic;
}
.ead-title {
    font-style: italic;
}
