{% extends "site_base.html" %}

{% block page-subtitle %}: Browse : {{current_letter}} ({{title_range}}){% endblock %}

{% block content-title %}Browse Finding Aids{% endblock %}

{% block content-body %}

{% if letters %}
  {% include "findingaids/browse_letters.html" %}
{% endif %}

{% if findingaids.paginator.count %}
    <p>{{ findingaids.paginator.count }} finding aid{{ findingaids.paginator.count|pluralize }} found,
    displaying {{ findingaids.start_index }} - {{ findingaids.end_index }}</p>
{% endif %}

{% with findingaids as items %}
    {% include "snippets/pagination.html" %}
{% endwith %}
<hr/>

{% for fa in findingaids.object_list %}
    {% include "findingaids/snippets/listview.html" %}
{% empty %}
 <div>No finding aids found for <b>{{current_letter}}</b>.</div>
{% endfor %}

{% with findingaids as items %}
    {% include "snippets/pagination.html" %}
{% endwith %}

{% endblock %}