<repository>
  <name>Manuscripts, Archives and Rare Book Library Finding Aids @Emory University</name>
  <adminEmail>marbl@emory.edu</adminEmail>
  <protocolVersion>2.0</protocolVersion>
  <granularity>seconds</granularity>
  <earliestDatestamp>1970-01-01T00:00:00Z</earliestDatestamp>

  <validateOutput>true</validateOutput>

  <identifier>
    <delimiter>:</delimiter>
    <localdelimiter>/</localdelimiter>
<!-- non : delimiter between collection and local identifier
     use if you wish to prepend collection to identifier to ensure uniqueness
-->
    <recordprefix></recordprefix>
    <repositoryIdentifier>
<!-- note: this uri is also used for request script location  -->
       <uri>oai.library.emory.edu</uri>
       <collection>findingaids</collection>
<!-- note: setting this to true will use collection name for the
     request script location instead of the actual script name and path -->
       <useCollectionAsScriptName>true</useCollectionAsScriptName>
    </repositoryIdentifier>
<!-- Note: identifiers are constructed from these components in this format:
   oai:uri:collection:recordprefixrecordidentifier
   oai:oai.library.emory.edu:tgfw:prefixrecordid  -->
  </identifier>

  <resumption>
    <maxRecords>50</maxRecords>
    <maxIdentifiers>200</maxIdentifiers>
    <expiration>24 hours</expiration>
  </resumption>

  <xqueryFile>xquery.xml</xqueryFile>

  <!-- connection settings for xml database -->
  <connectionParameters>
    <xmldb type="exist">
      <host>wilson.library.emory.edu</host>
      <port>8080</port>
      <database>FindingAids</database> 
      <debug>false</debug>
    </xmldb>          
  </connectionParameters>

  <sets>
    <!--set must be listed here and defined with in each metadata queries doc-->

  </sets>

  <metadataFormats>
    <!-- Add additional metadataFormat entries for each supported metadata format.
	 At minimum oai_dc must be supported.
    -->
    <metadataFormat name="oai_dc">
      <schema>http://www.openarchives.org/OAI/2.0/oai_dc.xsd</schema>
      <metadataNamespace>http://www.openarchives.org/OAI/2.0/oai_dc/</metadataNamespace>
      <record_prefix>dc</record_prefix>
      <recordNamespace>http://purl.org/dc/elements/1.1</recordNamespace>
      <xslt>oai_dc.xsl</xslt>
    </metadataFormat>                       
  </metadataFormats>

</repository>
