{# expects FindingAid component as series #}
{% load ead %}

{% if series.c|length %}
  <table class="box-folder">
    <col width="7%" valign="top" align="left"/>    {# column width needed for XSL-FO/PDF #}
    <col width="7%" valign="top" align="left"/>
    <col width="86%" valign="top" align="left"/>
    {% for component in series.c %}
        {# section heading (currently indicated by a component with no container) #}
        {% if not component.did.container %}
            <tr class="section">
                <td colspan="3">
                    {{ component.did.unittitle|format_ead }}
                    {{ component.did.physdesc|default:'' }}
                    {{ component.did.abstract|format_ead|default:'' }}
                    {{ component.did.note|format_ead|default:'' }}
                </td>
            </tr>
        {% endif %}

        {# display box/folder heading once only, first item in the series #}
        {# NOTE: could be 0-2 section headings before the first actual file item #}
        {% if forloop.counter <= 3 and component.first_file_item %}
          <tr>
            <th class="bf">Box</th>
             <th class="bf">Folder</th>
             <th class="content">Content</th>          
          </tr>
        {% endif %}

        {% if component.did.container %}    {# container list item #}
            <tr>
                {% for container in component.did.container %}
                    {# formatting assumes 2 containers; if only one, add a column span #}
                    <td class="bf" {% if component.did.container|length = 1 %}colspan="2"{% endif%}>
                        {{ container }}
                    </td>
                {% endfor %}
                <td class="content">
                    {{ component.did.unittitle|format_ead }}
                    {{ component.did.physdesc|default:'' }}
                    {{ component.did.abstract|format_ead|default:'' }}
                    {{ component.did.note|format_ead|default:'' }}
                </td>
            </tr>
         {% endif %}
    {% endfor %}
  </table>
{% endif %}