{# expects FindingAid component as series #}
{% load ead %}

{% if series.c|length %}
  <table class="box-folder">
    <col width="7%" valign="top" align="left"/>    {# column width needed for XSL-FO/PDF #}
    <col width="7%" valign="top" align="left"/>
    <col width="86%" valign="top" align="left"/>
    {% for component in series.c %}
        {# section heading (currently indicated by a component with no container) #}
        {% if not component.did.container %}
            <tr class="section">
                <td colspan="3">
                    {{ component.did.unittitle|format_ead }}
                    {{ component.did.physdesc|default:'' }}
                    {% if rdfa_rel %}  {# if an RDFa rel is defined, use rdfa formatting #}
                      {{ component.did.abstract|format_ead_rdfa:rdfa_rel|default:'' }}
                      {{ component.did.note|format_ead_rdfa:rdfa_rel|default:'' }}
                    {% else %}
                      {{ component.did.abstract|format_ead|default:'' }}
                      {{ component.did.note|format_ead|default:'' }}
                    {% endif %}
                </td>
            </tr>
        {% endif %}

        {# display box/folder heading once only, first item in the series #}
        {# NOTE: could be 0-2 section headings before the first actual file item #}
        {% if forloop.counter <= 3 and component.first_file_item %}
          <tr>
            <th class="bf">Box</th>
             <th class="bf">Folder</th>
             <th class="content">Content</th>
          </tr>
        {% endif %}

        {% if component.did.container %}    {# container list item #}
            {% include "fa/snippets/file_item.html" %}
        {% endif %}
    {% endfor %}
  </table>
{% endif %}