{# controlled access terms - expects FindingAid object as ead #}
{% load ead %}
<div id="control_access" class="nextpage">
    <h2><a name="control_access">{{ ead.archdesc.controlaccess.head }}</a></h2>
    {{ ead.archdesc.controlaccess.controlaccess.head }}
    {% for ca in ead.archdesc.controlaccess.controlaccess %}
       <h3>{{ ca.head }}</h3>
       <ul>
        {# FIXME: where possible, better to use about or mentions and tag as person/org/thing etc #}
       {% for term in ca.terms %}
            <li itemprop="keywords"><a href='{% url fa:search %}?subject="{{ term|urlencode }}"'>{{ term|format_ead }}</a></li>
       {% endfor %}
       </ul>
{% endfor %}
</div>