{# descriptive summary, admin info, collection description #}
{# expects FindingAid object as ead #}
{% load ead %}
<h2><a name="descriptive_summary">Descriptive Summary</a></h2>
<table id="descriptive_summary">    {#  display the following fields, in this specific order  #}
    <col width="20%" valign="top" align="left"/>
    <col width="80%" valign="top" align="left"/>
  {% if ead.origination_name %}
      <tr><th>Creator:</th><td>{{ ead.origination_name|format_ead_rdfa:"schema:creator" }}</td></tr>
      {# NOTE: could be contributor in some cases #}
   {% endif %}
   {% if ead.unittitle|format_ead %}
      <tr><th>Title:</th><td property="schema:name"> {{ ead.unittitle|format_ead }} </td></tr>
   {% endif %}
   {% if ead.archdesc.unitid %}
      <tr><th>Call Number:</th><td>{{ ead.archdesc.unitid }}</td></tr>
   {% endif %}
   {% if ead.archdesc.extent %}
      <tr><th>Extent:</th><td>{{ ead.physical_descriptions|join:'; ' }}</td></tr>
   {% endif %}
   {% if ead.archdesc.location %}
      <tr><th>Location:</th><td>{{ ead.archdesc.location }}</td></tr>
   {% endif %}
   {% if ead.abstract %}
      <tr><th>Abstract:</th><td property="schema:description">{{ ead.abstract|format_ead }}</td></tr>
   {% endif %}
   {% if ead.archdesc.langmaterial %}
      <tr><th>Language:</th><td>{{ ead.archdesc.langmaterial }} </td></tr>
   {% endif %}
  </table>

<hr/>

<h2><a name="administrative_information">Administrative Information</a></h2>
 {% for section in ead.admin_info %}
   {% if section.head and section.content %}
   <div>
   	<h3>{{ section.head|default:"" }}</h3>
	{% for para in section.content %}
	    <p>{{ para|format_ead }}</p>
	{% endfor %}
   </div>
   {% endif %}
 {% endfor %}
<hr/>

<h2><a name="collection_description">Collection Description</a></h2>
 {% for section in ead.collection_description %}
{#} {% if section == ead.archdesc.biography_history and ead.origination_name.authfilenumber %}<div rel="schema:about">{% endif %}  {# or rel=creator ? #}
  {# NOTE: schema is about origination of a person or org (or MAYBE a family.) #}
   <div {% if section == ead.archdesc.biography_history and ead.origination_name.authfilenumber %}about="{{ ead.origination_name.uri }}"{% endif %}>
   	<h3>{{ section.head|default:'' }}</h3>
  	{% for para in section.content %}
      <p>{{ para|format_ead_rdfa }}</p>
	  {% endfor %}

    {# grab occupation from controlled access #}
    {# NOTE: in local encoding practice, any controlled access occupation refers to origination/main entry person #}
     {% if section == ead.archdesc.biography_history and ead.origination_name.authfilenumber %}
     <div style="display:none" property="schema:description">
      {% for para in section.content %}
        <p>{{ para }}</p>
      {% endfor %}
    </div>

       {% for ca in ead.archdesc.controlaccess.controlaccess %}
          {% for occupation in ca.occupation %}
            <meta property="schema:jobTitle" content="{{ occupation|cut:'.' }}" />
          {% endfor %}
       {% endfor %}
     {% endif %}
   </div>
{#}   {% if section == ead.archdesc.biography_history and ead.origination_name.authfilenumber %}</div>{% endif %} #}
 {% endfor %}

