{# display a single file-level container list item #}
{% load ead %}
<tr{% if not component.did.container %} class="section" {% endif %}>
  {% spaceless %}
    {% for container in component.did.container %}
    {# formatting assumes 2 containers; if only one, add a column span #}
    <td class="bf" {% if component.did.container|length = 1 %}colspan="2"{% endif%}>
        {{ container }}
    </td>
    {% endfor %}
    {# component with no container currently indicates a section heading #}
    <td{% if not component.did.container %} colspan="3" {% else %} class="content" {% endif %}>
        {% if rdfa_rel %}  {# if an RDFa rel is defined, use rdfa formatting #}
          {{ component.did.unittitle|format_ead_rdfa:rdfa_rel }}
          {{ component.did.physdesc|default:'' }}
          {{ component.did.abstract|format_ead_rdfa:rdfa_rel|default:'' }}
          {{ component.did.note|format_ead_rdfa:rdfa_rel|default:'' }}
        {% elif component.has_semantic_data %}
        {# if unittitle has a name, containers may have semantic info also #}
            {% if component.rdf_type %} {# if there is a type, assume the whole unittitle is one thing #}
            <span rel="schema:mentions"><span typeof="{{ component.rdf_type }}"
                {% if component.rdf_identifier %}resource="{{ component.rdf_identifier }}"{% endif %}>
            {% endif %}
          {{ component.did.unittitle|format_ead_rdfa }}
          {{ component.did.physdesc|default:'' }}
          {{ component.did.abstract|format_ead_rdfa|default:'' }}
          {{ component.did.note|format_ead_rdfa|default:'' }}
        {% else %}
          {{ component.did.unittitle|format_ead }}
          {{ component.did.physdesc|default:'' }}
          {{ component.did.abstract|format_ead|default:'' }}
          {{ component.did.note|format_ead|default:'' }}
        {% endif %}
        {% if component.did.dao_list %}
        <div>
            {% for dao in component.did.dao_list %}
              {# show=none should take precedence over anything else (override) #}
              {% if dao.show == "none" %}
                {% if perms.fa_admin.can_view_internal_dao %}
                  {# generate link if possible; otherwise display as reading room access + pid #}
                  {% include "fa/snippets/dao.html" with show_link=1 %}
                {% endif %}  {# if no perms to view, display nothing #}
              {% else %} {# not show=none, so check audience #}
                 {% if dao.audience == "internal" %}
                    {# if user can view internal links, show as a link if possible #}
                    {# otherwise display as reading room access only, even if href is available #}
                   {% include "fa/snippets/dao.html" with show_link=perms.fa_admin.can_view_internal_dao %}
                 {% else %}
                   {# show as link; fallback to reading room access display if href is missing #}
                   {% include "fa/snippets/dao.html" with show_link=1 %}
                 {% endif %} {# end audience check #}
              {% endif %} {# end show none check #}
            {% endfor %}
        </div>
        {% endif %}
        {% if not rdfa_rel and component.has_semantic_data and component.rdf_type %}
         </span></span>  {# end mentions, manuscript #}
        {% endif %}
        {# additional rdf relationships to be exposed #}
        {% if component.rdf_mentions %} {# hide but expose as rdfa with rel schema:mentions #}
            <span style="display:none">
                {% for name in component.unittitle_names %}
                    {{ name|format_ead_rdfa:'schema:mentions' }}
                {% endfor %}
            </span>
        {% endif %}
    </td>
    {% endspaceless %}
</tr>
