{# display common series information - expects finding aid component as series #}
{% load ead %}
<h2 class="{{ series.level }}">
  <a name="{{ series.short_id }}">
      {{ series.did.unitid }} <br/>
      {{ series.did.unittitle|format_ead  }}
      {% if series.did.unitdate and series.did.unitdate not in series.did.unittitle %}
        {{ series.did.unitdate }}
      {% endif %}
       <br/>
      {{ series.did.physdesc|default:'' }}
  </a>
</h2>


{% for section in series.series_info %}
{% comment %} Use template tag to determine if RDFa should be used for this section,
 and if there should be ae default rel.
 Returns start/end div tags, and sets use_rdfa, and default_rel in template context. {% endcomment %}
{% series_section_rdfa series section as divinfo %}
{{ divinfo.start }} {# start tag, with any semantic information determined by series_section_rdaf #}
   	<h3>{{ section.head|default:'' }}</h3>
	{% for para in section.content %}

     {% if use_rdfa %}
       <p>{{ para|format_ead_rdfa:default_rel }}</p>
     {% else %}
    	 <p>{{para|format_ead}}</p>
     {% endif %}
	{% endfor %}
{{ divinfo.end }}
{% endfor %}

{% comment %}If this is a correspondence series and findingaid origination is tagged,
repeat the scopecontent note to expose tagged names as correspondents.{% endcomment %}
{% if series.contains_correspondence and series.ead.origination_name.authfilenumber %}
  {% with name=series.ead.origination_name %}
  <div style="display:none" typeof="{% if name.is_person %}schema:Person{% elif name.is_corporate %}schema:Organization{% endif %}" about="{{ series.ead.origination_name.uri}}">
     {{ series.scope_content|format_ead_rdfa:'schema:knows arch:correspondedWith' }}
   </div>
  {% endwith %}
{% endif %}

{# container list or series/subseries listing #}
{% if series.hasSubseries %}
  {% if subseries %}  {# if list of subseries links is defined (unused in full/pdf view #}
    <hr/>
    <h3>Description of Subseries</h3>
        <ul>
           {% autoescape off %}
               {{ subseries|unordered_list }}
           {% endautoescape %}
        </ul>

      {% if subseries_noparam %} {# urls for RDFa without keyword args #}
      <ul class="series-list" style="display:none">
        {% autoescape off %}
           {{ subseries_noparam|unordered_list }}
        {% endautoescape %}
      </ul>
      {% endif %}

    {% endif %}
{% else %}

{% if series.contains_correspondence and series.ead.origination_name.authfilenumber %}
  {% with name=series.ead.origination_name rdfa_rel="schema:knows arch:correspondedWith" %}
  <div typeof="{% if name.is_person %}schema:Person{% elif name.is_corporate %}schema:Organization{% endif %}" about="{{ series.ead.origination_name.uri}}">
    {% include "fa/snippets/containerlist.html" %}
  {% endwith %}
{% else %}
  <div rel="schema:about">
    {# the series description, like the main finding aid document is *about* the archival collection #}
    <div about="{{ ead.collection_uri }}"> {# typeof="schema:CreativeWork arch:Collection dcmitype:Collection"> #}
      {# FIXME: are types needed here? or redundant since they are on main findingaid page? #}
      {% include "fa/snippets/containerlist.html" %}
    </div>
  </div>
{% endif %}
{% endif %}
