{# display common series information - expects finding aid component as series #}
{% load ead %}
<h2 class="{{ series.level }}">
  <a name="{{ series.short_id }}">
      {{ series.did.unitid }} <br/>
      {{ series.did.unittitle|format_ead  }}
      {% if series.did.unitdate and series.did.unitdate not in series.did.unittitle %}
        {{ series.did.unitdate }}
      {% endif %}
       <br/>
      {{ series.did.physdesc|default:'' }}
  </a>
</h2>

{# TODO: shift some of this semantic logic to the view? case-insensitive comparison ? #}
{% if 'correspondence' in series.did.unittitle|format_ead|slugify and series.ead.origination_name.authfilenumber %}
  <div typeof="schema:Person" about="{{ series.ead.origination_name.uri}}">
     {# NOTE: type methods like is_personal_name don't seem to work here #}
     {# FIXME: unit tests are getting a URI of none here... (why does if pass)  #}
{% endif %}

{% for section in series.series_info %}

{% series_section_rdfa series section as divinfo %}
{{ divinfo.start }} {# start tag, with any semantic information determined by series_section_rdaf #}
   	<h3>{{ section.head|default:'' }}</h3>
	{% for para in section.content %}
     {% if use_rdfa %}
       <p>{{ para|format_ead_rdfa:default_rel }}</p>
     {% else %}
    	 <p>{{para|format_ead}}</p>
     {% endif %}
	{% endfor %}
{{ divinfo.end }}
{% endfor %}

{# container list or series/subseries listing #}
{% if series.hasSubseries %}
  {% if subseries %}  {# if list of subseries links is defined (unused in full/pdf view #}
    <hr/>
    <h3>Description of Subseries</h3>
        <ul>
           {% autoescape off %}
               {{ subseries|unordered_list }}
           {% endautoescape %}
        </ul>
    {% endif %}
{% else %}
{% if 'correspondence' in series.did.unittitle|format_ead or 'Correspondence' in series.did.unittitle|format_ead and series.ead.origination_name.authfilenumber %}
  {% with rdfa_rel="schema:knows arch:correspondedWith" %}
    {% include "fa/snippets/containerlist.html" %}
  {% endwith %}
{% else %}
    {% include "fa/snippets/containerlist.html" %}
{% endif %}
{% endif %}

{% if 'correspondence' in series.did.unittitle|format_ead or 'Correspondence' in series.did.unittitle|format_ead and series.ead.origination_name.authfilenumber %}
  </div>
{% endif %}

