{% extends "fa_admin/base.html" %}
{% load admin_urls %}
{% block page-subtitle %}{{block.super}} : Users {% endblock %}
{% block content-title %}Current users{% endblock %}

{% block content-body %}
    <table>     {# FIXME: use css throughout #}
        <tr>
            <th>First Name</th>
            <th>Lastname</th>
            <th>User</th>
            <th>LDAP</th>
            <th>Groups</th>
            <th>Archives</th>
            <th>Site Admin</th>
            <th/>
        </tr>
        {% for user in users %}
        <tr>
            <td>{{ user.first_name }}</td>
            <td>{{ user.last_name }}</td>
            <td>{{ user.username }}</td>
            <td>{% if user.password == "!" %}
                <img src="{{ STATIC_URL }}admin/true.gif" alt="Yes" style="border:0px solid" />
                {% else %}
                <img src="{{ STATIC_URL }}admin/false.gif" alt="No" style="border:0px solid" />
                {% endif %}</td>
            <td>{% for g in user.groups.all %}{{g}}{% if not forloop.last %},{% endif %} {% endfor %}</td>
            <td>{% for arch in user.archivist.archives.all %}
                {{arch.label}}{% if not forloop.last %}<br/>{% endif %}
                {% endfor %}</td>
            <td>
              {% if user.is_superuser %}
                <img src="{{ STATIC_URL }}admin/true.gif" alt="Yes" style="border:0px solid" />
              {% else %}
                <img src="{{ STATIC_URL }}admin/false.gif" alt="No" style="border:0px solid" />
            {% endif %}
            </td>
            <td>
                <a href="{% url user_change_url user.pk %}" style="text-decoration:none">
                <img src="{{ STATIC_URL }}admin/edit.gif" alt="edit" style="border:0px" /></a>
            </td>
        </tr>
    {% endfor %}
    </table>
    <hr/>
{% endblock %}