{% extends "fa_admin/base.html" %}
{% block page-subtitle %}{{block.super}} : {% if archive %}{{ archive.label }} : {% endif %}Published Finding Aids{% if findingaids.number != 1 %} (page {{ findingaids.number }}){% endif %}{% endblock %}

{% block content-title %}Published Finding Aids {% if archive %}for {{ archive.name }}{% endif %}{% endblock %}

{% block content-body %}
<div>{{findingaids.paginator.count}} documents</div>

{% with findingaids as items %}
    {% include "snippets/pagination.html" %}
{% endwith %}

<table>
    <tr>
        <th colspan="2">Filename</th> {# spans columns for delete button #}
        <th>Last Modified</th>
    </tr>
{% for fa in findingaids.object_list %}
    <tr>
        <td><a href ="{% url 'fa:findingaid' fa.eadid %}">{{ fa.document_name }}</a></td>
        <td>{% if perms.fa_admin.can_delete %}
            {# FIXME: to do this properly, should check if user has permissions on the archive, if set... #}
              <a class="admin-action" href ="{% url 'fa-admin:delete-ead' fa.eadid %}">DELETE</a>
            {% endif %}
        </td>
        <td>{{ fa.last_modified|date}} ({{ fa.last_modified|timesince }} ago)</td>
    </tr>
{% empty %}
  <tr><td colspan="2">No files found</td></tr>
{% endfor %}
</table>

{% with findingaids as items %}
    {% include "snippets/pagination.html" %}
{% endwith %}
{% endblock %}

