{# top-level table of contents for a finding aid (used by main finding aid and series/index views) #}
{# expects finding aid object as ead, list of any indexes as all_indexes #}
{% load ifurl %}
{# generate and store url for main finding aid page #}
{% ifurl preview admin:preview:view-fa fa:view-fa ead.eadid as ead_url %}
<div id="toc">
    <h2>Table of contents:</h2>
    <ul>
         <li><a href="{{ ead_url }}{{ url_params }}#descriptive_summary">Descriptive Summary</a></li>
         <li><a href="{{ ead_url }}{{ url_params }}#administrative_information">Administrative Information</a></li>
         <li><a href="{{ ead_url }}{{ url_params }}#collection_description">Collection Description</a></li>
         {% if ead.archdesc.controlaccess.head %}
           <li><a href="{{ ead_url }}{{ url_params }}#control_access">{{ ead.archdesc.controlaccess.head }}</a></li>
         {% endif %}         
          {% if all_indexes %}
             {% for toc_index in all_indexes %}
                {% ifequal index.id toc_index.id %}<li>{{ toc_index.head }}</li>
                {% else %} {# if on index page, don't link currently displayed index #}
                    <li><a href="{% ifurl preview fa-admin:preview:series-or-index fa:series-or-index id=ead.eadid,series_id=toc_index.id %}{{ url_params }}">
                            {{ toc_index.head }}</a>{% if toc_index.match_count > 0 %} <span class="exist-match">{{toc_index.match_count}} matches </span>{% endif %}</li>
                {% endifequal %}
             {% endfor %}
         {% endif %}

    </ul>
</div>