{% extends "site_base.html" %}
{# base template for single-finding aid content pages - handles preview logic if preview is set to True #}

{% block page-subtitle %}{% if preview %} : PREVIEW{% endif %} : Home{% endblock %}

{% block body-class %}{% if preview %}preview{% endif %}{% endblock %}

{% block content-header  %}


    {% if preview and perms.fa_admin.can_publish %}
        <div style="clear:right"></div> {# clearfix between login info & buttons #}
        <form id="preview-publish" action="{% url 'fa-admin:publish-ead' %}" method="post">{% csrf_token %}
            <button class="admin-action" type="submit" name="preview_id" value="{% firstof findingaid.eadid ead.eadid %}">PUBLISH</button>
        </form>
    {% endif %}
    <h1 class="title">{% if preview %}<span class="preview-label">PREVIEW:</span> {% endif %}{% block content-title %}{% endblock %}</h1>
{% endblock %}

{% block sidebar-left %}
  {% if last_search %}
    <div class="sidebar-search">
        <a href="{{last_search.url}}">{{last_search.txt}}</a>
    </div>
  {% endif %}
    {{ block.super }}
    {# single document search, when available - disabled in preview mode #}
  {% if docsearch_form and not preview %}
  <div id="document-search" class="sidebar-search">
      Search for items in the container list of <b>{{ ead.title }}</b>
      <form action="{% url 'fa:singledoc-search' ead.eadid %}" method="get">
        {{ docsearch_form.keywords }}
        {{ docsearch_form.dao }}
        {# NOTE: not using form help text because single-doc text slightly different #}
        <span class="help-text">only digital resources</span>
        <input class="form-submit" type="submit" value="Search this Finding Aid" />
      </form>
  </div>
  {% endif %}
  {% if feedback_opts %}
  <div id ="feedback" class="sidebar-search">
      <p>Send us your feedback.</p>
    <a rel="nofollow" href="{% url 'content:feedback' %}?{{feedback_opts}}" class="form-submit">Feedback</a>

  </div>
  {% endif %}

  {% if ead.requestable %}
    {% include "fa/snippets/aeon-link.html" %}
  {% endif %}
{% endblock %}