{% extends "site_base.html" %}

{% block page-subtitle %}: Advanced Search {% endblock %}

{% block content-header  %}
 <h1 class="title toplevel">Advanced Search</h1>
{% endblock %}

{# not calling supper so simple search block is not shown  #}
{% block sidebar-left %}
<div class="block-links">
    <a href="{% url 'content:page' 'search-tips' %}">Search Tips</a>
</div>
{% endblock %}

{% block content-body %}

<p>Enter a keyword and choose a repository to limit your search <br />
or leave the keyword field blank and choose a repository to browse a complete list of holdings.</p>

<form id="advanced-search" action="{% url 'fa:search' %}" method="get">

    {# display errors if any #}
    {{ form.non_field_errors}}

    <table>
        <tr>
            <th>
                <label for="{{ form.keywords.auto_id }}">{{ form.keywords.label }}:</label>
            </th>
            <td>
                {{ form.keywords }}<br> {{ form.keywords.help_text }}
            </td>
        </tr>
        <tr>
            <th>
                <label for="{{ form.dao.auto_id }}">{{ form.dao.label }}:</label>
            </th>
            <td>
                {{ form.dao }}<br> {{ form.dao.help_text }}
            </td>
        </tr>
        <tr>
            <th>
                <label for="{{ form.repository.auto_id }}">{{ form.repository.label }}:</label>
            </th>
            <td>
                {{ form.repository }}<br> {{ form.repository.help_text }}
            </td>
        </tr>
    </table>
    <input class="form-submit" type="submit" value="Search" />
    <input class="form-submit" type="reset" value="Reset" />
</form>

{# TODO: link to search help #}

{% endblock %}