{% extends "site_base.html" %}

{% block style %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" media="all" href="{{ MEDIA_URL }}/style/homepage.css" />
{% endblock %}

{% block content-title %}{% endblock %}
{% block sidebar-left %}{% endblock %} {# suppress sidebar #}

 {% block content-body %}
 <div class="top-half">
     <div id="about" class="right-col">
         <h2>{{ about.title }}</h2> {# do we need fall-back content ? #}
         {{ about.summary|safe }}
     </div>

     <div id="banner" class="left-col">
     {% if banner|length %} {# display random banner if entries are returned (FIXME: fallback?) #}
        {% with banner|random as banner %}{{ banner.summary|safe }}{% endwith %}
     {% endif %}
     </div>
 </div>

 <div class="clear"/>
 {% if news %}
 <div class="announcement">
     <h2>{{ news.title }}</h2> {{ news.summary|safe}}
 </div>
{% endif %}
 <div class="bottom-half">
        <div id="search" class="left-col">
             <h2>Search Finding Aids</h2>
              <form action="{% url fa:search %}" method="get">
                {{kwsearch_form.keywords}}
                <input class="form-submit" type="submit" value="Search" />
              </form>
             <p>
                <a class="form-submit" href="{% url fa:search %}">Advanced Search</a>
                <a class="form-submit" href="{% url content:page 'search-tips' %}">Search Tips</a>
             </p>
         </div>

         <div id="browse" class="right-col">
             <h2>Browse Finding Aids</h2>
             {% include "findingaids/browse_letters.html" %}
         </div>


  </div>
 
 <div class="clear"/>
{% endblock %}