{% extends "site_base.html" %}
{% block page-subtitle %}: Feedback{% if findingaid %} on {{ findingaid.title }}{% endif %}{% endblock %}
{% block content-header  %}
 <h1 class="title toplevel">Feedback</h1>
{% endblock %}

{% block page-head %}
  {{block.super}}
  {% if form.eadid.value %}  {# don't index per-item feedback pages, link main feedback as canonical #}
   <meta name="robots" content="noindex,nofollow" />
   <link rel="canonical" href="{% url 'content:feedback' %}" />
  {% endif %}
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
{% endblock %}

{% block content-body %}
{% if form %}
<p>Send us your feedback.</p>
<p>Please let us know if you have technical problems, questions, factual or
    typographical corrections, or general comments about EmoryFindingAids.</p>

{% if findingaid %} {# feedback about a particular finding aid #}
  {% load ead %}
  <p>Sending feedback about <b>{{ findingaid.title|format_ead }}</b>.</p>
{% endif %}

 <form class="email-form" action="{% url 'content:feedback' %}" method="post">{% csrf_token %}
    {{ form.non_field_errors }}
    {% with ' <span class="required" title="required">*</span>' as req %}
        {% for field in form.visible_fields %}
            {% include 'content/snippets/form_field.html' %}
        {% endfor %}
    {% endwith %}
    {# display all hidden fields *except* captcha #}
    {% for field in form.hidden_fields %}
      {% if field.name != 'captcha' %} {{ field }} {% endif %}
    {% endfor %}
    {% include 'content/snippets/captcha.html' %}
    <input class="form-submit" type="submit" value="Send"/>
</form>
{% else %}
    {# if form not included, display email success/error #}
    {% with 'feedback' as  message_type %}
        {% include 'content/snippets/email_sent.html' %}
    {% endwith %}

{% endif %}

{% endblock %}
