{% extends "site_base.html" %}
{% load static %}

{% block style %}
    {{ block.super }}
    <link rel="stylesheet" type="text/css" media="all" href="{{ STATIC_URL }}style/homepage.css" />
{% endblock %}

{% block content-title %}{% endblock %}
{% block sidebar-left %}{% endblock %} {# suppress sidebar #}

{% block content-header %}
<div style="clear:right"></div> {# prevent login info from messing up layout #}
{{ block.super }}
{% endblock %}

 {% block content-body %}
 <div class="top-half">
     <div id="about" class="right-col">
         <h2>About EmoryFindingAids</h2>

         <p>The EmoryFindingAids database provides centralized access to detailed descriptions of archival and manuscript collections held in various repositories at Emory.&nbsp; Finding aids describe our unique primary resources and help researchers determine if collections contain material of interest to them and exactly where that material is located. The database includes finding aids for both processed and unprocessed collections.  The database contains finding aids for <a href="http://marbl.library.emory.edu">MARBL</a>, the <a href="http://marbl.library.emory.edu/about/archives.html">Emory University Archives</a>,
        <a href="http://oxford.library.emory.edu/">Oxford College Archives</a>,
        <a href="http://health.library.emory.edu/">Woodruff Health Sciences Center Library</a>,
        <a href="http://www.pitts.emory.edu/">Pitts Theology Library Special Collections and Archives</a> and
        the <a href="http://library.law.emory.edu/">Emory Law School Archives</a>.</p>

         <div class="block-links subsection">
             <a href="{% url 'content:faq' %}">Learn more</a>
         </div>
     </div>

     <div id="banner" class="left-col">
     {% if banner|length %} {# display random banner image #}
     {% with banner|random as img %}
        <img src="{% static 'images/banner/'|add:img %}" />
        {% endwith %}
     {% endif %}
     </div>
 </div>

 <div class="clear"/>
 <div class="bottom-half">
        <div id="search" class="left-col">
             <h2>Search FindingAids</h2>
              <form action="{% url 'fa:search' %}" method="get">
                {{ kwsearch_form.keywords }}
                <input class="form-submit" type="submit" value="Search" />
                <p>{{ kwsearch_form.dao }} <span class="help-text">{{ kwsearch_form.dao.help_text }}</span></p>
                <p><b>Tip:</b> Exact phrase ("civil war"), Boolean operators (AND, OR, and NOT), and wildcard (theat*)
                available. </p>
              </form>

             <div class="block-links">
                <a href="{% url 'fa:search' %}">Advanced Search</a>
                <a href="{% url 'content:search-tips' %}">Search Tips</a>
             </div>



         </div>

         <div id="browse" class="right-col">
             <h2>Browse FindingAids</h2>
             {% include "fa/browse_letters.html" %}
         </div>


  </div>

 <div class="clear"/>
{% endblock %}