{# expects series #}

    <table>
        <col width="7%" align="left" valign="top"/>
        <col width="7%" align="left" valign="top"/> {# FIXME: only if there is a container folder OR 2 containers? #}
        <col width="86%"/>
    {% for component in series.c %}
        {# FIXME: display box/folder heading if first container... #}
        {# FIXME2: only display if there are no titles? #}
        {% if 0 and forloop.first  %}
          <tr class="box-folder">
            <th>Box</th>
            {# FIXME: only display folder label if there are folders -- how? #}
             <th>Folder</th>
             <th class="content">Content</th>
           </tr>
         {% endif %}

        <tr>
            {% for container in component.did.container %}
            <td>{{ container }}</td>            
            {% endfor %}
            <td {% if not component.did.container %} style="font-weight:bold" colspan="3" {% endif %} > {# FIXME temporary style #}
                {{ component.did.unittitle }} 
                {{ component.did.physdesc|default:'' }}
                {{ component.did.abstract|default:'' }}
                {{ component.did.note|default:'' }}
            </td>
        </tr>
        {% if not component.did.container %}
        <tr class="box-folder">
            <th>Box</th>
            {# FIXME: only display folder label if there are folders -- how? #}
             <th>Folder</th>
             <th class="content">Content</th>
         </tr>
        {% endif %}

    {% endfor %}
      </table>
