{% extends "findingaids/base.html" %}
{% load ead %}
{% block page-subtitle %}: {{ ead.title }} : Search Results for {{ keywords }} {% endblock %}

{% block page-head %}
  {{block.super}}  {# direct search engines not to index search pages #}
  <meta name="robots" content="noindex,nofollow" />
{% endblock %}

{% block content-title %}<a href="{% url fa:findingaid ead.eadid %}{{ url_params }}">{{ ead.title }}</a>{% endblock %}

{% block content-body %}

{% if keywords %}<p>Search results for : <b>{{keywords}}</b></p>{% endif %}
{{ files.count|default:'No' }} match{{ files|pluralize:'es' }} found
<table class="box-folder">
{% for component in files %}
   {% ifchanged %}
     {# calculate and store url to series the item belongs to #}
     {% if component.series2.id and component.series2.id != component.parent.id %}
       {# component has a series2 and id does not match parent - must be c03/series3 #}
       {% url fa:series3 ead.eadid component.series1.short_id component.series2.short_id component.parent.short_id as series_url %}
     {% endif %}
     {% if component.series2.id and component.series2.id == component.parent.id %}
        {# component has a series2 that matches parent id - c02/series2 #}
        {% url fa:series2 ead.eadid component.series1.short_id component.parent.short_id as series_url %}
     {% endif %}
     {% if component.parent.id == component.series1.id %}
        {# component parent id matches series1 id - c01/series #}
        {% url fa:series-or-index ead.eadid component.parent.short_id as series_url %}
     {% endif %}
     <tr>
         <th colspan="3">
            <a href="{{ series_url }}{{ url_params }}">{{ component.parent.display_label }}</a>
         </th>
     </tr>
     {# NOTE: substantial overlap with component display in containerlist template #}
      <tr>
         <th class="bf">Box</th>
         <th class="bf">Folder</th>
         <th class="content">Content</th>
       </tr>
    {% endifchanged %}
    
    <tr{% if not component.did.container %} class="section" {% endif %}>
      {% spaceless %}
        {% for container in component.did.container %}
        <td class="bf">{{ container }}</td>
        {% endfor %}
        {# component with no container currently indicates a section heading #}
        <td{% if not component.did.container %} colspan="3" {% else %} class="content" {% endif %}>
            {{ component.did.unittitle|format_ead }}
            {{ component.did.physdesc|default:'' }}
            {{ component.did.abstract|format_ead|default:'' }}
            {{ component.did.note|format_ead|default:'' }}
        </td>
      {% endspaceless %}
    </tr>
{% endfor %}
</table>

{# <div>No contents matched your search terms.</div> #}

{% endblock %}