{% extends "findingaids/base.html" %}
{% load ead %}   {% load ifurl %}

{% block page-head %}
  {{block.super}}
  {% if url_params %}  {# don't index highlighted pages, link non-highlighted page as canonical #}
   <meta name="robots" content="noindex,nofollow" />
   <link rel="canonical" href="{% ifurl preview fa-admin:preview:findingaid fa:findingaid id=ead.eadid %}" />
  {% endif %}
  <link rel="alternate" type="application/xml" href="{% ifurl preview fa-admin:preview:eadxml fa:eadxml id=ead.eadid %}" />
  <link rel="alternate" media="print" type="application/pdf" href="{% ifurl preview fa-admin:preview:printable fa:printable id=ead.eadid %}" />
  {% if ead.eadid.url %}<link rel="bookmark" href="{{ ead.eadid.url }}" /> {% endif %}
  {# embed Dublin Core metadata for this finding aid in the html header #}
  {% with ead.dc_fields as dc_fields %}
    {% include "findingaids/snippets/dc_meta.html" %}
  {% endwith %}
{% endblock %}

{% block page-subtitle %}: {{ ead.title }}{% endblock %}
{% block content-title %}
<span class="fa-title">{{ ead.list_title|format_ead }}
    {% ifnotequal ead.unittitle|slugify ead.list_title|slugify %}
        <br/>{{ ead.unittitle|format_ead }}
    {% endifnotequal %}
</span>
{% endblock %}

{% block content-body %}
{% with ead.file_desc.publication as publication %}
  <div id="publication-address">
    <p>{{ publication.publisher }}</p>
    {% for line in publication.address.lines %}<p>{{ line }}</p>{% endfor %}
    <p>Permanent link: <a rel="bookmark" href="{{ ead.eadid.url }}">{{ ead.eadid.url }}</a></p>
  </div>
  <div id="sidebar-right">
      <a class="pdf" href="{% ifurl preview fa-admin:preview:printable fa:printable id=ead.eadid %}">Printable PDF</a>
  </div>

{% endwith %}

{# main display page for a single finding aid; links to series & subseries, if any #}
<div id="toc_series">
    {% include "findingaids/snippets/toc.html" %}
    
{% if ead.dsc.hasSeries %} {# top-level series list #}
<div id="series">
<h2><a href="#dsc">{{ ead.dsc.head}}</a></h2>
<ul>
    {% for component in ead.dsc.c %}
    <li><a href="{% ifurl preview fa-admin:preview:series-or-index fa:series-or-index id=ead.eadid,series_id=component.short_id %}{{ url_params }}" rel="section">
	{% if component.did.unitid %}{{ component.did.unitid }}: {% endif %}
    {{ component.did.unittitle|format_ead }}</a>{% if component.match_count > 0 %} <span class="exist-match">{{component.match_count}} match{{component.match_count|pluralize:'es'}}</span>{% endif %}
     </li>
  {% endfor %}
</ul>
</div>
{% endif %}
<br class="clear"/>
</div>

<div class="fa">
<hr/>
{% include "findingaids/snippets/description.html" %}
<hr/>
{% include "findingaids/snippets/controlaccess.html" %}
<hr/>

{# container list or series/subseries listing #}
<h2><a name="dsc">{{ ead.dsc.head }}</a></h2>
{% if ead.dsc.hasSeries %}       {# list series/subseries here, display on separate page #}
    <ul class="series-list">
       {% autoescape off %}
           {{ series|unordered_list }}
       {% endautoescape %}
    </ul>
{% else %}
  {% with ead.dsc as series %}
    {% include "findingaids/snippets/containerlist.html" %}
  {% endwith %}
{% endif %}

{# indexes (if any) displayed on their own pages #}

</div>
{% endblock %}
