{% extends "findingaids/base.html" %}

{% block content-title %}Browse Finding Aids{% endblock %}

 {% block content-body %}

   {% include "findingaids/browse_letters.html" %}


<p>This database searches detailed descriptions of manuscript collections,
which are called finding aids. Finding aids generally include:</p>
<ul>
   <li>A description of the collection's creator</li>
   <li>A description of the contents</li>
   <li>A list of boxes and folders in which materials are stored</li>
</ul>

<p><i>Please note: this site includes finding aids for unprocessed collections.</i></p>


{% endblock %}