{# list view of a single finding aid - expects FindingAid object as fa, with list fields #}
{% load ead %}

<div class="record_list">
    <p><a href="{% url findingaids.fa.views.view_fa fa.eadid %}">{{ fa.list_title }}</a> </p>
    {% ifnotequal fa.title|slugify fa.list_title|slugify %} {# using slugs to ignore whitespace differences #}
        <p>{{ fa.title }}</p>
    {% endifnotequal %}
    <p>{{ fa.physical_desc }}</p>
    <p class="abstract">{{ fa.abstract|format_ead }}</p>
    {% if fa.fulltext_score %} <p class="relevance">relevance: {{ fa.fulltext_score }}</p> {% endif %}
  </div>
