{% extends "site_base.html" %}

{% block page-subtitle %}: Search {% endblock %}

{% block content-title %}Search {% endblock %}

{% block content-body %}

<form action="{% url fa:keyword-search %}" method="get">
    {{ form.as_p }}
    <input class="form-submit" type="submit" value="Search" />
</form>

<hr/>
<div>    
    <h2>{{ tips.title }}</h2>
    {{ tips.content|safe }}

    {% if perms.simplepages.edit_simplepage %}
    <div style="float:right">
        <a href="{% url admin:simplepages_simplepage_change tips.id %}">Edit</a>
    </div>
    {% endif %}

</div>

{% endblock %}