{# display a single series or subseries or index of a finding aid #}
{# expects ead and either series or index #}
{% extends "findingaids/base.html" %}
{% load ead %} {% load ifurl %}

{% block page-subtitle %}: {{ ead.title }} : {% firstof series.display_label index.head %}{% endblock %}

{% block page-head %}
  {{block.super}}
  {% if url_params %}  {# don't index highlighted pages, link non-highlighted page as canonical #}
   <meta name="robots" content="noindex,nofollow" />
   <link rel="canonical" href="{{ canonical_url }}" />
  {% endif %}
{% endblock %}

{% block content-title %}
{# generate and store url for main finding aid page #}
{% ifurl preview fa-admin:preview:view-fa fa:view-fa id=ead.eadid as ead_url %}
  <a href="{{ ead_url }}{{ url_params }}" rel="contents">{{ ead.title }}</a>
{% endblock %}


{% block content-body %}
<div id="breadcrumbs">
{% if series.series.id %}
    <a href="{% ifurl preview fa-admin:preview:series-or-index fa:series-or-index id=ead.eadid, series_id=series.series.id %}{{ url_params }}">{{series.series.did.unittitle}}</a> >
{% endif %}
{% if series.subseries.id %}
    <a href="{% ifurl preview fa-admin:preview:view-subseries fa:view-subseries id=ead.eadid, series_id=series.series.id, subseries_id=series.subseries.id %}{{ url_params }}">{{series.subseries.did.unittitle}}</a> >
{% endif %}
{% firstof series.did.unittitle  index.head %}
</div>
<div id="print-links">
    <p><a class="pdf" href="{% ifurl preview fa-admin:preview:printable-fa fa:printable-fa id=ead.eadid %}">PDF Version</a></p>
</div>
<div id="toc_series">
    {% include "findingaids/sections/toc.html" %}
<div id="series">
  <h2><a href="{{ ead_url }}{{ url_params }}#dsc">{{ ead.dsc.head }}</a></h2>
<ul>
  {% for component in all_series %}
    <li>
        {#  currently selected page #}
        {% ifequal series.id component.id %}
           {% if component.did.unitid %}{{ component.did.unitid }}: {% endif %}
            {{ component.did.unittitle|format_ead }}
        {# all other links that are not currently selected page #}
        {# next prev and start rel attributes are calculated in the view #}
        {% else %}
           <a href="{% ifurl preview fa-admin:preview:series-or-index fa:series-or-index id=ead.eadid,series_id=component.id %}{{ url_params }}"
           {% ifequal forloop.counter0 next %}rel="next"{% endifequal %}{% ifequal forloop.counter0 prev %}rel="prev"{% endifequal %}{% if forloop.first %}rel="start"{% endif %}>
            {% if component.did.unitid %}{{ component.did.unitid }}: {% endif %}
                {{ component.did.unittitle|format_ead }}</a>{% if component.match_count > 0 %} <span class="exist-match">{{component.match_count|floatformat }} match{{component.match_count|pluralize:'es'}}</span>{% endif %}
        {% endifequal %}
     </li>
  {% endfor %}
</ul>
</div>
<br class="clear"/>
</div>

{% if series %} {% include "findingaids/sections/series.html" %} {% endif %}
{% if index %} {% include "findingaids/sections/indexentry.html" %} {% endif %}

{% endblock %}
