{# display a single series or subseries of a finding aid #}
<h1><a href="{% url findingaids.fa.views.view_fa series.ead.eadid %}">{{ series.ead.title }}</a></h1>

<h2>Table of contents:</h2>
<ul>
 <li><a href="{% url findingaids.fa.views.view_fa series.ead.eadid %}#descriptive_summary">Descriptive Summary</a></li>
 <li><a href="{% url findingaids.fa.views.view_fa series.ead.eadid %}#administrative_information">Administrative Information</a></li>
 <li><a href="{% url findingaids.fa.views.view_fa series.ead.eadid %}#collection_description">Collection Description</a></li>
 <li><a href="{% url findingaids.fa.views.view_fa series.ead.eadid %}#control_access">{{ series.ead.archdesc.controlaccess.head }}</a></li>
 
</ul>

<ul>
  {% for component in all_series %}
    <li>
        {% ifequal series.id component.id %}
           {% if component.did.unitid %}{{ component.did.unitid }}: {% endif %}
            {{ component.did.unittitle }}
        {% else %}
           <a href="{% url findingaids.fa.views.view_series id=series.ead.eadid,series_id=component.id %}">
            {% if component.did.unitid %}{{ component.did.unitid }}: {% endif %}
                {{ component.did.unittitle }}</a>
        {% endifequal %}
     </li>
  {% endfor %}
</ul>

<h2>
  {{ series.did.unitid }}<br/>
  {{ series.did.unittitle }}  {{ series.did.unitdate|default:'' }} <br/>
  {{ series.did.physdesc }}
</h2>

{% for section in series.series_info %}
   <div>
   	<h3>{{ section.head }}</h3>
	{% for para in section.content %}
	    <p>{{para}}</p>
	{% endfor %}
   </div>
{% endfor %}

{# container list or series/subseries listing #}
{% if series.hasSubseries %}       {# list series/subseries here, display on separate page #}
  {% with series as component %}
    {% with series.ead.eadid as eadid %}
      {% include "findingaids/subseries_snippet.html" %}
    {% endwith %}  {# eadid #}
  {% endwith %}  {# series as component #}
{% else %}
  {% include "findingaids/containerlist_snippet.html" %}
{% endif %}