{% extends "site_base.html" %}

{% block page-subtitle %}: {{ findingaid.title }}{% endblock %}

{% block content-title %}{{ findingaid.title }}{% endblock %}

{% block content-body %}

{# main display page for a single finding aid; links to series & subseries, if any #}
<h2>Table of contents:</h2>
<ul>        {# FIXME: should section anchor names match what was used before? #}
 <li><a href="#descriptive_summary">Descriptive Summary</a></li>
 <li><a href="#administrative_information">Administrative Information</a></li>
 <li><a href="#collection_description">Collection Description</a></li>
 <li><a href="#control_access">{{ findingaid.archdesc.controlaccess.head }}</a></li>
 {% if findingaid.dsc and not findingaid.dsc.hasSeries %} 
   <li><a href="#dsc">{{ findingaid.dsc.head}}</a></li> 
 {% endif %}
</ul>

{% if findingaid.dsc.hasSeries %} {# top-level series list #}
<h2><a href="#dsc">{{ findingaid.dsc.head}}</a></h2>
{# FIXME: should use series template here-- how to make subseries display optional? #}
<ul>
  {% for component in findingaid.dsc.c %}
    <li><a href="{% url findingaids.fa.views.view_series id=findingaid.eadid,series_id=component.id %}"> 
	{% if component.did.unitid %}{{ component.did.unitid }}: {% endif %}
        {{ component.did.unittitle }}</a>
     </li>
  {% endfor %}
</ul>
{% endif %}

 {# NOTE: current site has top-level series list duplicated here for complex finding aids #}
<hr/>

<h2><a name="descriptive_summary">Descriptive Summary</a></h2>
  <table>
      {# FIXME: move styles to css #}
    <col width="20%" align="left" valign="top"/>
    <col width="80%" align="left" valign="top"/>
    {#  display the following fields, in this specific order  #}
{# FIXME: which fields may not always be present? #}
      <tr><td>Creator:</td><td>{{ findingaid.archdesc.origination }}</td></tr>
      <tr><td>Title:</td><td> {{ findingaid.unittitle }} </td></tr>
      <tr><td>Call Number:</td><td>{{ findingaid.archdesc.unitid }}</td></tr>
      <tr><td>Extent:</td><td>{{ findingaid.archdesc.extent|join:", " }}</td></tr>
   {% if findingaid.archdesc.location %}
      <tr><td>Location:</td><td>{{ findingaid.archdesc.location }}</td></tr>
   {% endif %}
      <tr><td>Abstract:</td><td>{{ findingaid.abstract }}</td></tr>
      <tr><td>Language:</td><td>{{ findingaid.archdesc.langmaterial }} </td></tr>
  </table>

<hr/>

<h2><a name="administrative_information">Administrative Information</a></h2>
 {% for section in findingaid.admin_info %}
   <div>
   	<h3>{{ section.head }}</h3>
	{% for para in section.content %}
	    <p>{{para}}</p>
	{% endfor %}
   </div>
 {% endfor %}

<hr/>

<h2><a name="collection_description">Collection Description</a></h2>
 {% for section in findingaid.collection_description %}
   <div>
   	<h3>{{ section.head }}</h3>
	{% for para in section.content %}
	    <p>{{para}}</p>
	{% endfor %}
   </div>
 {% endfor %}

<hr/>

<h2><a name="control_access">{{ findingaid.archdesc.controlaccess.head }}</a></h2>
{{findingaid.archdesc.controlaccess.controlaccess.head}}
{% for ca in findingaid.archdesc.controlaccess.controlaccess %}
   <h3>{{ ca.head}}</h3>
   {% for term in ca.terms %}
    {{ term }}<br/>
   {% endfor %}

{% endfor %}
<hr/>

{# container list or series/subseries listing #}
<h2><a name="dsc">{{ findingaid.dsc.head }}</a></h2>
{% if findingaid.dsc.hasSeries %}       {# list series/subseries here,   display on separate page #}
    <ul>
       {% autoescape off %}
           {{ series|unordered_list }}
       {% endautoescape %}
    </ul>
{% else %}
  {% with findingaid.dsc as series %}
    {% include "findingaids/containerlist_snippet.html" %}
  {% endwith %}
{% endif %}

{% endblock %}